pip install pymongo
pip install flask_pymongo
pip install flask
pip install dnspython

https://codeforgeek.com/render-html-file-in-flask/
https://stackabuse.com/integrating-mongodb-with-flask-using-flask-pymongo/

py -m venv env
.\env\Scripts\activate
flask run

Flask==2.0.1
Flask_PyMongo==2.3.0
// to run flask in ubuntu
sudo apt-get install libapache2-mod-wsgi python-dev


sudo a2enmod wsgi 
sudo apt-get install python-pip 

sudo apt install python3-venv
python3 -m venv env
source env/bin/activate
sudo pip install Flask 
sudo python __init__.py 

